  <% @list.movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <% if bookmark %>
        <%= link_to "Delete",
                    bookmark_path(bookmark),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
