// Specific CSS for your home-page

.grid__lists-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;

  @include max(sm) {
    grid-template-columns: 1fr;
  }
}
