.banner {
  position:relative;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 15px;
  background-image: asset-url("banneralt.png");
  background-size: cover;
  background-position: center;
  text-align: left;
}


.banner-title {
  color: $light-gray;
  font-size: 100px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.banner-list {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  text-align: left;
  position: sticky;
  top:40px;
}
