.list-form {
  @include common-form-styles;
  position: sticky;
  top: 60px;
  height: 100%;

  input {
    border-radius: 7px;
  }

  @include max(lg) {
    position: relative;
  }
}

.bookmark-form {
  @include common-form-styles;
  width: 100%;
  height: auto;
}
